@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --foreground: #ffffff;
}

@theme inline {
  --color-on-surface-variant: #adaaaa;
  --color-on-background: #ffffff;
  --color-on-tertiary-container: #584500;
  --color-on-tertiary-fixed: #413200;
  --color-tertiary-container: #f5ce53;
  --color-on-primary: #516700;
  --color-on-secondary-container: #d2d0cf;
  --color-on-error-container: #ffd2c8;
  --color-background: #0e0e0e;
  --color-primary-fixed-dim: #beee00;
  --color-on-tertiary-fixed-variant: #634e00;
  --color-inverse-surface: #fcf9f8;
  --color-on-primary-container: #4a5e00;
  --color-primary-container: #cafd00;
  --color-on-tertiary: #624e00;
  --color-primary-dim: #beee00;
  --color-surface-dim: #0e0e0e;
  --color-error-dim: #d53d18;
  --color-on-error: #450900;
  --color-inverse-on-surface: #565555;
  --color-tertiary-fixed: #f5ce53;
  --color-on-secondary-fixed-variant: #5c5b5b;
  --color-tertiary-fixed-dim: #e6c047;
  --color-error: #ff7351;
  --color-surface-container-low: #131313;
  --color-secondary-dim: #d7d4d3;
  --color-outline: #767575;
  --color-primary-fixed: #cafd00;
  --color-on-primary-fixed: #3a4a00;
  --color-error-container: #b92902;
  --color-tertiary-dim: #e6c047;
  --color-outline-variant: #484848;
  --color-surface-container-lowest: #000000;
  --color-primary: #f3ffca;
  --color-surface-container: #191a1a;
  --color-surface: #0e0e0e;
  --color-inverse-primary: #516700;
  --color-secondary-fixed-dim: #d7d4d3;
  --color-surface-bright: #2c2c2c;
  --color-surface-variant: #262626;
  --color-on-surface: #ffffff;
  --color-on-secondary-fixed: #403f3f;
  --color-on-primary-fixed-variant: #526900;
  --color-surface-container-highest: #262626;
  --color-surface-container-high: #1f2020;
  --color-secondary-container: #474646;
  --color-on-secondary: #525151;
  --color-secondary-fixed: #e5e2e1;
  --color-tertiary: #ffdd79;
  --color-surface-tint: #f3ffca;
  --color-secondary: #e5e2e1;

  --font-headline: 'Lexend', sans-serif;
  --font-body: 'Manrope', sans-serif;
  --font-label: 'Manrope', sans-serif;
  --font-lexend: 'Lexend', sans-serif;
  --font-manrope: 'Manrope', sans-serif;

  --radius-full: 0.75rem;
  --radius-xl: 0.5rem;
  --radius-lg: 0.25rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
  min-height: 100dvh;
}

.material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
.text-glow-primary { text-shadow: 0 0 20px rgba(243, 255, 202, 0.4); }
.glass-card { background: rgba(38, 38, 38, 0.4); backdrop-filter: blur(20px); }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
